.products-filter-container{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.input-search{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    flex: 1;

    input{
        border: none;

        &::placeholder{
            color: #9E9E9E;
        }
        &:focus{
            box-shadow: none;
        }
    }
}
.filter-select-conteiner{
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;

    .products-categories-select__control {
        
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #E1E1E1;
    }
    .products-categories-select__indicator-separator {
        display: none;
    }
    .products-categories-select__placeholder{
        color: #9E9E9E;
    }
}

@media(max-width: 768px){
    .products-filter-container{
        width: 100%;
    }
}
@media(max-width: 576px){
    .products-filter-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .filter-select-conteiner{
        margin: 0px;
        margin-top: 10px;
        .products-categories-select__single-value{
            font-size: 0.7rem;

        }
    }
    .product-filter-row{
        display: flex;
        flex-direction: row;
    }
    .input-search{
        flex: none;
        margin-bottom: 20px;
    }
    .product-filter-button{
        width: 80px;
        margin-left: 10px;
    }
}