.categorie-card-containear{
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.categorie-card-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.015em;
}
.buttons-categories-containear{
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.btn-categorie{
    width: 45%;
}
@media(max-width: 576px){
    .buttons-categories-containear{
        display: flex;
        flex-direction: column;
    }
    .btn-categorie{
        width: 100%;
        margin-top: 10px;
    }
}