.default-button{
    display: flex;
}
.btn-icon{
    height: 70px;
    width: 380px;
    border-radius: 10px 0 0 10px;
    text-transform: uppercase;
}
.btn-icon-content{
    background: #33569b;
    border-radius: 0px 10px 10px 0px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media(max-width: 576px){
    .default-button{
        width: 70vw;
        height: 50px;
        margin-bottom: 30px;
    }
    .btn-icon-content{
        width: 70vw;
        height: 70px;
    }
    .default-button button h5{
        font-size: 1em;
    }
}