.product-card-admin{
    margin-bottom: 25px;
    border-radius: 10px;
    .product-currenc{
        font-size: 14px;
    }
    .product-price{
        font-size: 24px;
    }
}
.product-card-admin-image{
    height: 110px;
    width: 110px;
}
.product-card-name-admin{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
}